body {
    background-image: url('../img/bw-sport.jpg') no-repeat fixed;
    background-size: cover;
}

.navbar {
    background-color: lightseagreen;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

nav .brand-logo {
    padding-left: 2%;
}

a.btn-floating {
    align-content: center !important;
    align-self: center !important;
    align-items: center !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 60px; !important;
    display: flex; !important;
}

.categoria.initialized{
    /*display: none !important;*/
}
span.select-item{
    display: none !important;
}

a.editar-jogador, a.excluir-jogador, a.editar-clube, a.excluir-clube {
    color: lightseagreen;
}

.dash {
    text-align: justify;
    padding-left: 0.8em;
    font-family: "Lucida Sans Unicode";
    font-size: 11pt;
    line-height: 18pt;
    color: #000000;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.card .card-action a {
    color: lightseagreen;
}

a#salvar-card, a#voltarCardJogo {
    text-transform: uppercase !important;
    margin-right: 24px;
    color: lightseagreen;
}

a.add-jogador, a.remove-jogador, a.editar-dados-jogador, a.editar-jogo, a.excluir-jogo, a.atleta, a.clube, a#voltar-relatorio{
    color: lightseagreen;
}

a.btn-floating.btn-large.lightsagreen{
    
}