body {
    background-image: url('../img/bw-sport.jpg') no-repeat fixed;
    background-size: cover;
}

.navbar {
    background-color: lightseagreen;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

a.btn-floating {
    align-content: center !important;
    align-self: center !important;
    align-items: center !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 60px; !important;
    display: flex; !important;
}

.categoria.initialized{
    /*display: none !important;*/
}
span.select-item{
    display: none !important;
}

a.editar-jogador, a.excluir-jogador {
    color: lightseagreen;
}