body{
  background: url("../img/campo-futebol.jpg") no-repeat fixed;
  background-size: cover;
}

.login-card{
  padding-left: 30% !important;
  padding-right: 30% !important;
  padding-top: 10% !important;
}

.modal .modal-content{
    padding-left: 25% !important;
    padding-right: 25% !important;
}

a.waves-effect{
    
    background-color: #9e9e9e !important;
}

a.modal-action.modal-close.waves-effect.waves-green.btn-flat{
    color: white !important;
    display: 
}



