body{
  background: url("../img/bw-sport.jpg") no-repeat fixed;
  background-size: cover;
}

.login-card{
  padding-left: 20% !important;
  padding-right: 20% !important;
  padding-top: 10% !important;
}
